---
import "../../styles/components/individuals/anime-object.css";
const { animeObj, i } = Astro.props;
if (!animeObj) return null;
const {
  id,
  title,
  img,
  link,
  ratings,
  seasonMetrics,
  languages,
  streaming,
  releaseYear,
  genres,
  pg,
  bigText,
} = animeObj;
const { english, romaji } = title;
const { seasons, episodes } = seasonMetrics;
const number = i + 1;

const items: Record<string, any> = [
  { "Release Year : ": releaseYear },
  { "Length : ": `${seasons} Seasons, ${episodes} Episodes` },
  { "Genres : ": genres.join(", ") },
  { "Imdb Pg : ": pg[0].imdb + "(You can watch with family)" },
  { "Dub Languages : ": languages.dub.join(", ") },
];
---

<section id={id} class="anime-object">
  <header class="ao-title">{number}) {english} ({romaji})</header>
  <img src={img ?? "/black-fallback"} alt="" class="ao-img" />
  <dl class="imp-info">
    <span class="toc-text">Important Info</span>
    {
      items.map((i: any) => {
        const [key, value] = Object.entries(i)[0];
        return (
          <div>
            <dt>{key}</dt>
            <dd>{value}</dd>
          </div>
        );
      })
    }
    <div class="link">
      <div class="imdb-data link">
        <a href={ratings.imdb.link}>View on IMDB</a>
      </div>
      <div class="imdb-data">
        •<a href={ratings.mal.link}>View on MAL</a>
      </div>
    </div>
    <div>
      <dt>Streaming :</dt>
      <dd class="streaming-dd link">
        {
          streaming.map((obj: any) => (
            <a href={obj.link}>
              {obj.platform}({obj.message})
            </a>
          ))
        }
      </dd>
    </div>
  </dl>
  <section class="ao-main">
    {
      bigText.map((obj: any) => {
        return (
          <item class="aom-item">
            <header class="aom-head">{obj.heading}</header>
            <p class="aom-content">{obj.content}</p>
          </item>
        );
      })
    }
  </section>
  <a class="npp-btn w-btn-anikawa" href={link}>
    <div class="npp-text">Watch Now !</div>
  </a>
</section>
