---
import "../../styles/pages/BlogPage/anime-object.css";
import CategorySection from "../BlogCard/CategorySection";
const { animeObj, i } = Astro.props;
if (!animeObj) return null;
const {
  id,
  title,
  img,
  link,
  ratings,
  seasonMetrics,
  languages,
  streaming,
  releaseYear,
  genres,
  pg,
  bigText,
} = animeObj;
const { english, romaji } = title;
const { seasons, episodes } = seasonMetrics;
const number = i + 1;

const finalTitle = `${number}) ${english} (${romaji})`;
const items: Record<string, any> = [
  { "Release Year: ": releaseYear },
  { "Length: ": `${seasons} Seasons, ${episodes} Episodes` },
  // { "Genres: ": genres.join(", ") },
  { "Imdb Pg: ": pg[0].imdb },
  { "Dubs: ": languages.dub.join(", ") },
];
---

<section aria-label="Anime Object" id={id} class="anime-object">
  <h2 aria-label="Anime title" class="ao-title">{finalTitle}</h2>
  <img src={img ?? "/black-fallback"} alt={`Cover image for Anime ${finalTitle}`} class="ao-img" loading="lazy" decoding="async"/>
  <dl aria-label="Important Info" class="imp-info">
    <span class="toc-text">Important Info</span>
    {
      items.map((i: any) => {
        const [key, value] = Object.entries(i)[0];
        return (
          <div>
            <dt>{key}</dt>
            <dd>{value}</dd>
          </div>
        );
      })
    }
    <div class="flex items-center">
      <dt>Genres:</dt>
      <CategorySection categoryList={genres} />
    </div>
    <div class="link">
      <div class="imdb-data link">
        <a aria-label={`Imdb link of ${finalTitle}`} href={ratings.imdb.link}>View on IMDB</a>
      </div>
      <div class="imdb-data">
        •<a aria-label={`MAL link of ${finalTitle}`} href={ratings.mal.link}>View on MAL</a>
      </div>
    </div>
    <div>
      <dt>Streaming:</dt>
      <dd class="streaming-dd link">
        {
          streaming.map((obj: any) => (
            <a aria-label={`${obj.platform} link to ${finalTitle}`} href={obj.link}>
              {obj.platform}({obj.message})
            </a>
          ))
        }
      </dd>
    </div>
  </dl>
  <section class="ao-main">
    {
      bigText.map((obj: any) => {
        return (
          <item class="aom-item">
            <h3 class="aom-head">{obj.heading}</h3>
            <p class="aom-content">{obj.content}</p>
          </item>
        );
      })
    }
  </section>
  <a aria-label="Watch Now Button" class="npp-btn w-btn-anikawa" href={link}>
    <span class="npp-text">Watch Now !</span>
  </a>
</section>
