---
import '../../styles/pages/BlogPage/creator-section.css';
import { Icon } from "../../icons/icons";

const { creatorObj } = Astro.props;
const {
  name: creatorName,
  about: aboutCreator,
  socialMedia: creatorSocials,
} = creatorObj ?? {};
const creatorLink = "/creator/" + creatorName;
---

<section class="creator-section">
  <h4 class="toc-text cs-text-top">ABOUT CREATOR</h4>
  <a href={creatorLink} class="cs-name hov-no-ul">{creatorName}</a>
  <p class="cs-about">{aboutCreator}</p>
  <ul class="socials-ul">
    {
      creatorSocials?.map((obj: any) => (
        <li aria-label="Social media links of creator">
          <a aria-label={`${obj.name} link of ${creatorName}`} href={obj.link}>
            <Icon name={obj.svg} size={30} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
