---
import "../styles/global.css";
import HeroCard from "../components/BlogCard/HeroCard";
import { Blogs } from "../data/Blogs";
import Layout from "../layouts/Layout.astro";
const bco = Blogs[0];

// <section class="non-hero-body">
//     <HomeSection sectionName="Latest" /> 
//     <HomeSection sectionName="Action" />
//     <HomeSection sectionName="Comedy" />
//     <HomeSection sectionName="Adventure" />
//     <HomeSection sectionName="Slice of Life" />
//   </section>
// <!-- <div class="hs-2">
//       <HeroCard BcObject={bco} smallHero={true} />
//       <HeroCard BcObject={bco} smallHero={true} />
//     </div> -->
---

<Layout>
  <section aria-label="Hero Section" class="hero-section">
    <div aria-label="Hero Section part 1" class="hs-1">
      <HeroCard BcObject={bco} />
    </div>
  </section>
</Layout>
